<%= form_for([@recipe, @comment]) do |f| %>

    <%= render 'layouts/errors', object: @comment %>

    <p class="form-group">
        <%= f.label :Nome %> <br>
        <%= f.text_field :name, autofocus:true, class:"form-control" %>
    </p>
    <p class="form-group">
        <%= f.label :Estrelas %> <br>
        <%= f.select :rating, Comment::RATING, prompt:"Dê a sua nota", class:"form-control" %>
    </p>
    <p class="form-group">
        <%= f.label :Comentário %> <br>
        <%= f.text_area :comment, placeholder:"Escreva um comentário", class:"form-control" %>
    </p>
    <p>
        <%= f.submit class:'btn btn-primary' %>
        <%= link_to "Cancelar", root_path, class:"btn btn-default" %>
    </p>

<% end %>