<%= form_for(@recipe) do |f| %>

    <p>
        <%= f.label :Nome %> <br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :Ingredientes %> <br>
        <%= f.text_area :stuff, col:20, rows:5 %>
    </p>
    <p>
        <%= f.label :Tipo %> <br>
        <%= f.text_field :kind %>
    </p>
    <p>
        <%= f.label :Calorias %> <br>
        <%= f.number_field :calories %>
    </p>
    <p>
        <%= f.label :Porções %> <br>
        <%= f.text_field :portion %>
    </p>
    <p>
        <%= f.label :Tempo_de_preparo %> <br>
        <%= f.time_select :duration %>
    </p>
    <p>
        <%= f.label :Modo_de_preparo %> <br>
        <%= f.text_area :prepare_mode, col:20, rows:5 %>
    </p>
    <p>
        <%= f.label :Custo %> <br>
        <%= f.number_field :cost %>
    </p>
    <p>
        <%= f.label :Poster %> <br>
        <%= f.number_field :poster, placeholder:".GIF, .JPEG, .PNG" %>
    </p>
    <p>
        <%= f.submit %>  <br>
        <%= link_to "Cancelar", root_path %> <br>
    </p>
<% end %>