<h1>Receitas</h1>

<% @recipes.each do |recipe| %>
    <article>
        <header>
            <h2> <%= recipe.name %> </h2>
        </header>
        <p> <%= recipe.stuff %> </p>
        <p> <%= recipe.calories %> </p>
        <table>
            <tr>
                <th>Modo de preparo:</th>
                <td> <%= recipe.prepare_mode %> </td> 
            </tr>
            <tr>
                <th>Custo do prato:</th>
                <td> <%= number_to_currency(recipe.cost) %> </td> 
            </tr>
        </table>
    </article>
<% end %>