<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="main header"> 
                <p>No momento temos: <%= pluralize(@recipes.size, "Receita", "Receitas") %></p> <br>
                <small class="nova-receita text-lowercase font-weight-light">
                    <%= link_to "+ Nova receita", new_recipe_path %>
                </small>
            </h2>
        </div>
    </div>

    <div class="main container">
        <% @recipes.each do |recipe| %>
            <div class="recipe-card row">
                <div class="col-4">
                    <%= link_to imagem(recipe), recipe%>
                </div>
                <div class="recipe-content col-8">
                    <h5><%= link_to recipe.name , recipe %></h5>
                    <p>
                        <p> <%= truncate(recipe.stuff, length:150, separator:'') %> </p>
                        <h4> Calorias: </h4>
                        <p> <%= formata_caloria(recipe) %> </p>
                        <h4> Tempo de preparo: </h4>
                        <p> <%= recipe.duration.to_formatted_s(:time) %> </p>
                        <h4> Custo: </h4>
                        <p> <%= number_to_currency(recipe.cost) %> </p>
                    </p>
                </div>
            </div>
            <hr>
        <% end %>
    </div>        

</div>