<h1> <%= pluralize(@recipes.size, "Receita", "Receitas") %> </h1>

<% @recipes.each do |recipe| %>
    <article>
        <header>
            <h2> <%= recipe.name %> </h2>
        </header>
        <p> <%= truncate(recipe.stuff, length:30, separator:'') %> </p>
        <p> 
            <%= formata_caloria(recipe) %>
        </p>
        <table>
            <tr>
                <th>Modo de preparo:</th>
                <td> <%= recipe.prepare_mode %> </td> 
            </tr>
            <tr>
                <th>Custo do prato:</th>
                <td> <%= number_to_currency(recipe.cost) %> </td> 
            </tr>
        </table>
    </article>
<% end %>