<div class="show-container container">

    <header>
        <h1> <%= @recipe.name %> </h1>
        <%= imagem(@recipe) %>
    </header>

    <h2>Tipo</h2>
    <p> <%= @recipe.kind %> </p>

    <h2>Ingredientes</h2>
    <p> <%= @recipe.stuff %> </p>

    <h2>Calorias</h2>
    <p> <%= @recipe.calories %> </p>

    <h2>Tempo de preparo</h2>
    <p> <%= @recipe.duration.to_formatted_s(:time) %> </p>

    <h2>Porções</h2>
    <p> <%= pluralize(@recipe.portion, "porção", "porções") %> </p>

    <h3>Modo de preparo</h3>
    <p> <%= @recipe.prepare_mode %> </p>
    
    <h3>Custo</h3>
    <p> <%= number_to_currency(@recipe.cost) %> </p>

    <div class="avaliar">
        <h3>Avaliações</h3>
        <%= link_to pluralize(@recipe.comments.size, "avaliação", "avaliações"), recipe_comments_path(@recipe) %>
        <br>
        <%= link_to "Avaliar", new_recipe_comment_path(@recipe), class:'btn btn-primary' %>
    </div>

    <div class="buttons">

        <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="auto" title="ver receitas">
            <%= link_to image_tag('repo.svg', alt:'voltar a home'), recipes_path %>
        </button>

        <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="auto" title="editar">
            <%= link_to image_tag('pencil.svg', alt:'editar receita'), edit_recipe_path(@recipe) %>
        </button>

        <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="auto" title="deletar">
            <%= link_to image_tag('trash.svg', alt:'deletar receita'), recipe_path(@recipe), method: :delete, data:{confirm: "Deseja mesmo deletar essa receita?"} %>
        </button>
    </div>

</div>