<div class="container">

    <header>
        <h1> <%= @recipe.name %> </h1>
        <%= imagem(@recipe) %>
    </header>

    <h2>Tipo</h2>
    <p> <%= @recipe.kind %> </p>

    <h2>Ingredientes</h2>
    <p> <%= @recipe.stuff %> </p>

    <h2>Calorias</h2>
    <p> <%= @recipe.calories %> </p>

    <h2>Tempo de preparo</h2>
    <p> <%= @recipe.duration.to_formatted_s(:time) %> </p>

    <h2>Porções</h2>
    <p> <%= pluralize(@recipe.portion, "porção", "porções") %> </p>

    <h3>Modo de preparo</h3>
    <p> <%= @recipe.prepare_mode %> </p>
    
    <h3>Custo</h3>
    <p>R$ <%= @recipe.cost %> </p>

    <div class="buttons">
        <button type="button" class="btn btn-outline-light">
            <%= link_to image_tag('repo.svg', alt:'voltar a home'), recipes_path %>
            home
        </button>

        <button type="button" class="btn btn-outline-light">
            <%= link_to image_tag('pencil.svg', alt:'editar receita'), edit_recipe_path(@recipe) %>
            editar
        </button>

        <button type="button" class="btn btn-outline-light">
            <%= link_to image_tag('trash.svg', alt:'deletar receita'), recipe_path(@recipe), method: :delete, data:{confirm: "Deseja mesmo deletar essa receita?"} %>
            deletar
        </button>
    </div>

</div>